@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

$cardBody: 'Lexend Deca';
$cardHeader: 'Big Shoulders Display';
$headerColor: hsl(0, 0%, 95%);
$cardOneColor: hsl(31, 77%, 52%);
$cardTwoColor: hsl(184, 100%, 22%);
$cardThreeColor: hsl(179, 100%, 13%);

html {font-size: 15px}
body {
  margin: 0;
  padding: 0;
  height:100vh;
}

.container {
width: 100%;
// height: 100%;
background-color: $headerColor;
display: flex;
justify-content: center;
align-items: center;}

.card-wrapper {
display: grid;
width: 80%;
border-radius: 10px;
overflow: hidden;
}

.card {

// grid-row: 1;
// grid-column: 1;
display: flex;
flex-direction: column;
justify-content: space-between;
  padding: 10% 20%;

  h2 {
    font-family: $cardHeader;
    color: $headerColor;
    font-size: 2rem;

  }

  p {
    font-family: $cardBody;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.5rem;
  }

  &#one {
    background: $cardOneColor;
  }
  &#two {
    background: $cardTwoColor;
  }
  &#three {
    background: $cardThreeColor;
  }

  button {
    font-family: $cardBody;
    background-color: transparent;
    color: $headerColor;
    border: 0.5px solid $headerColor;
    border-radius: 20px;
    width: 10rem;
    height: 2.5rem;
  }
}

@media only screen and (min-width: 992px) {

  .container {
  width: 100%;
  height: 100%;}

  .card-wrapper {

  height: 70%;
  width: 65%;

  }

  .card {

  grid-row: 1;
  padding: 20%;
  button:hover {
  background-color: $headerColor;
  cursor: pointer;
}

  &#one {
    button:hover {
  color: $cardOneColor}};
  &#two {
    button:hover {
  color: $cardTwoColor}};
  &#three {
    button:hover {
  color: $cardThreeColor}};
}


}
